<div class="content drop-shadow-md m-3 md:m-0">
  <div class="main bg-white px-5 rounded-t pt-3">
    <h1>{{ label }}</h1>
    <div class="py-5 static-content">
      {{ content }}
    </div>
  </div>
</div>
