{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_pager %}
  {% include "@giv_din_stemme/user-setup-pager.html.twig" with {'active_page': 1} %}
{% endblock %}

{% block gds_content %}
  <div>
    <div class="consent-intro text-lg">
      <p>
        {{ 'To receive your donation, you must allow us to keep and process the sound file with your voice. This happens by you giving consent with MitID below.'|t }}
      </p>
    </div>
    <div class="mb-5 pb-5 border-b-2"></div>
    <div class="consent-text max-h-52 overflow-y-scroll">
      <p>
        {{ consent_text|raw }}
      </p>
    </div>
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5">
    <form action="/oidc-login">
      <div class="flex flex-col gap-3 md:flex-row md:place-content-between md:align-items-center">
        <div class="flex items-center gap-2">
          <input type="checkbox" id="consent_checkbox" name="consent" value="consent_given" required>
          <label for="consent_checkbox">{{ 'Yes, I consent'|t }}</label>
        </div>
        <div>
          <button type="submit" class="btn-default">
            <span class="mr-3">{{ 'Consent with MitID'|t }}</span>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}