<div class="wrapper">
  <section class="main">
    <h1>Samtykke</h1>

    <div>
      <div>
        <p>
          For at vi kan modtage din donation, skal du give os ret til at opbevare og behandle lydfilen med din stemme. Dette sker ved at du giver os samtykke med MitID nedenfor.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet lorem vitae purus fermentum rutrum. Nam tempus vel dolor sit amet ullamcorper. Suspendisse maximus neque accumsan nunc aliquam, et tempus enim pellentesque. Donec tincidunt lectus leo, nec aliquam erat ornare quis. Nullam at dignissim tortor, nec tristique urna. Donec viverra pulvinar felis eu tincidunt. Maecenas aliquam vulputate nibh at aliquet. Ut quis augue nulla. Aliquam elementum ipsum eget pulvinar faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam venenatis gravida lacus eu convallis. Sed laoreet congue eros, ac iaculis ante. Sed feugiat eget magna et tincidunt.
        </p>
      </div>
      <div>
        <p>
          Læs vores betingelser
        </p>
        <form action="/mitid">
          <input type="checkbox" id="consent_checkbox" name="consent" value="Ja, jeg giver mit samtykke">
          <button type="submit">Doner</button>
        </form>
      </div>
    </div>

  </section>
</div>

