
<section class="content drop-shadow-md">
  <main class="main bg-white px-5">
    {% block gds_content %}{% endblock %}
  </main>
  <footer class="footer bg-gray-100 px-5">
    {% block gds_footer %}{% endblock %}
  </footer>
</section>