{% block gds_pager %}
  {% set active_page = active_page|default('0') %}
{% endblock %}

{% include "@giv_din_stemme/user-setup-pager.html.twig" %}

<section class="content drop-shadow-md">
  <main class="main bg-white px-5">
    {% block gds_content %}{% endblock %}
  </main>
  <footer class="footer bg-gray-100 px-5">
    {% block gds_footer %}{% endblock %}
  </footer>
</section>