{% block gds_pager %}
{% endblock %}

<section class="content drop-shadow-md m-3 md:m-0">
  <main class="main bg-white px-5 rounded-t pt-3">
    <h1>{{ drupal_title() }}</h1>
    {% block gds_content %}
    {% endblock %}
  </main>
  <footer class="footer bg-gray-100 px-5 rounded-b">
    {% block gds_footer %}{% endblock %}
  </footer>
</section>
