<div class="wrapper">

  <section class="main">
    <h1>Doner din stemme</h1>

    <div>
      <div>
        <p>
          Optagelse af stemmer er en nødvendighed for at kunne træne vores danske sprogmodel
        </p>
        <p>
          <b>101</b> personer har tilsammen donereret <b>713</b> minutter
        </p>
      </div>
      <div>
        <p>
          Læs vores betingelser
        </p>
        <form action="/consent">
          <button type="submit">Doner</button>
        </form>
      </div>
    </div>

  </section>

</div>
