{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_pager %}
  {% include "@giv_din_stemme/user-setup-pager.html.twig" with {'active_page': 3} %}
{% endblock %}

{% block gds_content %}
  <div class="py-5">
    Lorem
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5 grid justify-end">
    <a href="{{ url('giv_din_stemme.test') }}" class="btn-default button button--primary">
      <span class="mr-3">{{ 'Continue'|t }}</span>
      <i class="fa-solid fa-circle-arrow-right"></i>
    </a>
  </div>
{% endblock %}