{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_content %}
    <div class="py-5">
      <div class="consent-intro text-lg">
        <p>
          {{ "Activate the microphone and read the displayed text. Press 'Next Section' to continue"|t }}
        </p>
      </div>
      <div class="mb-5 pb-5 border-b-2"></div>
    </div>

    <div class="relative flex flex-col md:flex-row md:gap-5 md:min-h-36">
      <div class="consent-text max-h-52 overflow-y-scroll flex align-content-center">
        <p class="text-lg">
          {{ textToRead }}
        </p>
      </div>
    <div class="">
      {% include "@giv_din_stemme/components/button-microphone-toggle.html.twig" %}
    </div>
  </div>
  <section class="sound-clips">

  </section>
{% endblock %}
{% block gds_footer %}
  <div class="py-5">
    <form action="{{ nextUrl }}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="audio_input" hidden>
      <input type="number" id="recording_duration" name="duration" hidden>
      <div class="grid grid-cols-2">
        <div class="sm:col-span-1">
        </div>
        <div class="sm:col-span-1 justify-self-end">
          <button id="read_submit_button" type="submit" class="btn-default">
            <span class="mr-3">
              {{ 'Continue'|t }}
            </span>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
