{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_pager %}
  {% include "@giv_din_stemme/user-setup-pager.html.twig" with {'active_page': 4} %}
{% endblock %}

{% block gds_content %}
  aaa
  {{ attach_library('giv_din_stemme/check_microphone') }}
  {{ attach_library('giv_din_stemme/test_microphone') }}
  <div class="py-5">
    <h3><b>NOTE:</b> This is not accurate on stackoverflow, since microphone use is not permitted. It's a simulation instead.</h3>
    <div id="volume-test-toggle">Toggle</div>
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5  grid justify-end">
    <a href="{{ url('giv_din_stemme.donate') }}" class="btn-default button button--primary">
      <span class="mr-3">{{ 'Continue'|t }}</span>
      <i class="fa-solid fa-circle-arrow-right"></i>
    </a>
  </div>
{% endblock %}