{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_content %}
  <div class="py-5">
    <div class="consent-intro text-lg">
      <p>
        {{ "Thank you for the recording"|t }}
      </p>
    </div>
    <div class="mb-5 pb-5 border-b-2"></div>
    <div class="consent-text max-h-52 overflow-y-scroll">
      <p>
        Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
      </p>
    </div>
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5">
    <form action="/start-donating">
      <div class="grid grid-cols-2">
        <div class="sm:col-span-1">
        </div>
        <div class="sm:col-span-1 justify-self-end">
          <button type="submit" class="btn-default">
            <span class="mr-3">{{ 'Dontate more'|t }}</span>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

