{% set pager = {
  '1': {
    'title': 'Consent'|t,
    'classes': 'flex-initial pager-item'
  },
  '2': {
    'title': 'Profile'|t,
    'classes': 'flex-initial pager-item'
  },
  '3': {
    'title': 'Permissions'|t,
    'classes': 'flex-initial pager-item'
  },
  '4': {
    'title': 'Test'|t,
    'classes': 'flex-initial pager-item'
  },
  '5': {
    'title': 'Donate'|t,
    'classes': 'flex-initial pager-item'
  }
}
%}

<div class="mb-10 mx-5 flex flex-col gap-1 md:flex-row md:gap-5">
  {% for key, element in pager %}
    {% set classes = key is same as active_page ? element.classes ~ ' ' ~ 'active' : element.classes %}
    <div class="basis-full md:basis-auto {{ classes }}">
      <div class="inline-block">
        <span>{{ key }}.</span>
        <span>{{ element.title }}</span>
        {% if key < active_page %}
          <span><i class="text-green-600 fa-regular fa-circle-check"></i></span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
