<div id="btn-microphone-toggle" class="btn-microphone-toggle rounded-full flex place-content-center w-20 h-20 cursor-pointer text-center bg-brand visualizer-shadow">
    <i class="text-white text-3xl fa-solid fa-microphone-slash place-self-center"></i>
    <i class="text-white text-3xl fa-solid fa-microphone place-self-center"></i>
</div>