<header role="banner" class="bg-white text-primary px-3 md:px-5 py-3 flex flex-row place-content-between gap-5">
    <!--
  <div class="flex items-center place-items-start gap-5">
    {{ include(directory ~ '/templates/components/nav-button.html.twig') }}
  </div>
    -->
  <div>
    {{ page.breadcrumb }}
  </div>
  <div>
    <div class="container mx-auto px-3 text-secondary my-3">
      {% if user.isAuthenticated() %}
        <a href="/user" class="mx-5"><i class="mr-3 fa-regular fa-user"></i> {{ 'Profile'|t }}</a>
        <a href="/user/logout" class="mx-5">{{ 'Log out'|t }} <i class="ml-3 fa-solid fa-arrow-right-from-bracket"></i></a>
      {% endif %}
    </div>
  </div>
</header>
