<header role="banner" class="bg-white text-primary px-3 md:px-5 py-3 flex flex-row items-center gap-5">
    <!--
  <div class="flex items-center place-items-start gap-5">
    {{ include(directory ~ '/templates/components/nav-button.html.twig') }}
  </div>
    -->
  <div>
    {{ page.breadcrumb }}
  </div>
</header>
